<div class="add-horse-container">
  <div class="add-horse-title" *ngIf="trySearch">
    <h1 id="add-new-horse">Add new horse</h1>
  </div>

  <div class="add-horse-main">
    <div class="searched-horse-table" *ngIf="!trySearch">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Breed</th>
            <th scope="col">Birthday</th>
            <th scope="col">Father</th>
            <th scope="col">Mother</th>
            <th scrop="col">Choose</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let horse of itemsRequest.items" class="table-horse-row">
            <th scope="row">{{ horse.id }}</th>
            <td>
              <a routerLink="detailshorse/{{ horse.id }}">{{ horse.name }}</a>
            </td>
            <td>{{ horse.breed }}</td>
            <td>{{ horse.date }}</td>
            <td>
              <a routerLink="detailshorse/{{ horse.fid }}">{{ horse.fName }}</a>
            </td>
            <td>
              <a routerLink="detailshorse/{{ horse.mid }}">{{ horse.mName }}</a>
            </td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-outlook-primary">
                  <i class="bi bi-check-lg" style="color: green;"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="table-menu">
        <div class="btn-group">
          <button type="button" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i><span> Add new Horse</span>
          </button>
        </div>
      </div>
    </div>
    <form *ngIf="trySearch">
      <div class="form-title">
        <span>Try find your horse</span>
      </div>
      <div class="add-horse-find">
        <div class="form-group">
          <label for="nameInput">Name*</label>
          <input
            name="nameInput"
            [(ngModel)]="nameInput"
            (input)="onNameChange(nameInput)"
            type="text"
            autocomplete="off"
            class="form-control is-invalid"
            id="nameInput"
            placeholder="Input name"
          />
          <div class="invalid-feedback">Please input valid name.</div>
        </div>
        <fieldset class="form-group find-horse-element">
          <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Sex*</legend>
            <div class="col">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="gridRadios"
                  id="gridRadios1"
                  value="Male"
                  checked
                />
                <label class="form-check-label" for="gridRadios1"> Male </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="gridRadios"
                  id="gridRadios2"
                  value="Female"
                />
                <label class="form-check-label" for="gridRadios2">
                  Female
                </label>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="form-group find-horse-element">
          <div class="btn-group block" dropdown>
            <label for="breedInput">Breed*</label>
            <input
              id="breedInput"
              dropdownToggle
              type="text"
              class="form-control dropdown-toggle is-invalid"
              aria-controls="dropdown-basic-breed"
              name="breedInput"
              [(ngModel)]="breedInput"
              (input)="onSearchChange(breedInput)"
              placeholder="Input breed"
              autocomplete="off"
            />
            <div class="invalid-feedback">Please chose valid breed.</div>
            <ul
              id="dropdown-basic-breed"
              *dropdownMenu
              class="dropdown-menu breed-menu"
              role="menu"
              aria-labelledby="breedInput"
            >
              <li
                *ngFor="let breed of breeds"
                class="breed-menu-item"
                id="breed-item-{{ breed }}"
                role="menuitem"
                aria
                (click)="itemChoose(breed)"
              >
                {{ breed }}
              </li>
            </ul>
          </div>
        </div>
        <div class="form-group find-horse-element">
          <label for="exampleInputPassword1">Date birth</label>
          <input
            type="date"
            class="form-control"
            id="datebirth"
            placeholder='Input datebirth "dd.mm.yyyy"'
          />
        </div>
        <div class="form-group find-horse-element">
          <label for="fName">Fathers name</label>
          <input
            type="text"
            autocomplete="off"
            class="form-control"
            id="fName"
            placeholder="Input fathers name"
          />
        </div>
        <div class="form-group find-horse-element">
          <label for="mName">Mothers name</label>
          <input
            type="text"
            autocomplete="off"
            class="form-control"
            id="mName"
            placeholder="Input mothers name"
          />
        </div>
      </div>
      <div class="form-footer">
        <div class="btn-group">
          <button class="btn btn-primary" (click)="searchHorse()">
            <i class="bi bi-search"></i> Search
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
