<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 headcolor"
  >
    <div class="menu-container">
      <div class="menu-separator">
        <div class="separators">
          <div class="navhead">
            <a class="navbar-brand" [routerLink]="['/']">HorseSite</a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <button type="button" class="btn btn-dark add-horse" [routerLink]="['/AddHorse']">
              <i class="bi bi-plus-circle"></i> Add Horse
            </button>
          </div>
        </div>
        <div
          class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
          [ngClass]="{ show: isExpanded }"
        >
          <div class="menu-btn-group">
            <div class="btn-group menu-btn-item" dropdown>
              <button
                id="button-animated-DB"
                dropdownToggle
                type="button"
                class="btn btn-outline-light dropdown-toggle"
                aria-controls="dropdown-animated-DB"
              >
                <i class="bi bi-database" style="margin-right: 3px"></i>Horse
                Database <span class="caret"></span>
              </button>
              <ul
                id="dropdown-animated-DB"
                *dropdownMenu
                class="dropdown-menu"
                role="menu"
                aria-labelledby="button-animated-DB"
              >
                <li role="menuitem">
                  <a class="dropdown-item" href="#">Pedigree</a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item" href="#">Progeny</a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item" href="#">Sisters\Brothers</a>
                </li>
              </ul>
            </div>
            <div class="btn-group menu-btn-item" dropdown>
              <button
                id="button-animated-MP"
                dropdownToggle
                type="button"
                class="btn btn-outline-light dropdown-toggle"
                aria-controls="dropdown-animated-MP"
              >
                <i class="bi bi-briefcase"></i> Horse Marketpalce
                <span class="caret"></span>
              </button>
              <ul
                id="dropdown-animated-MP"
                *dropdownMenu
                class="dropdown-menu"
                role="menu"
                aria-labelledby="button-animated-MP"
              >
                <li role="menuitem">
                  <a class="dropdown-item" href="#">Task 1</a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item" href="#">Task 2</a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item" href="#">Task 3</a>
                </li>
              </ul>
            </div>
            <div class="btn-group menu-btn-item" dropdown>
              <button
                id="button-animated-BD"
                dropdownToggle
                type="button"
                class="btn btn-outline-light dropdown-toggle"
                aria-controls="dropdown-animated-BD"
              >
                Breeding <span class="caret"></span>
              </button>
              <ul
                id="dropdown-animated-BD"
                *dropdownMenu
                class="dropdown-menu"
                role="menu"
                aria-labelledby="button-animated-BD"
              >
                <li role="menuitem">
                  <a class="dropdown-item" href="#">Task 1</a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item" href="#">Task 2</a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item" href="#">Task 3</a>
                </li>
              </ul>
            </div>
          </div>

          <ul class="navbar-nav flex-grow">
            <li class="nav-item account-icn">
            
          <span dropdown (onShown)="onShown()" (onHidden)="onHidden()" (isOpenChange)="isOpenChange()" (mouseleave)="Hide()" (mouseenter)="Show()">
               <a class="nav-link text-dark" id="basic-link" dropdownToggle aria-controls="basic-link-dropdown" [routerLink]="['/Profile']"
                ><i class="bi bi-person-circle" style="color:white"></i> <span class="prof">Profile</span></a
              >
            <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu uninset" 
                role="menu" aria-labelledby="basic-link"> 
              <li *ngFor="let choice of items">
                <a class="dropdown-item" href="#">{{choice}}</a>
              </li>
            </ul>
          </span>
        </li>
      </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
